<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
    <style>
        table {
            border-collapse: collapse;
            width: 30%;
            margin: 10px;
        }
        th, td {
            border: 3px solid black;
            padding: 6px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Resultado da Contagem de Tags</h1>
    {% if contador_de_tags %}
        <table>
            <tr>
                <th>Tag</th>
                <th>Quantidade</th>
            </tr>
            {% for nome_tag, quantidade in contador_de_tags.items() %}
                <tr>
                    <td>{{ nome_tag }}</td>
                    <td>{{ quantidade }}</td>
                </tr>
            {% endfor %}
        </table>
        <button onclick="downloadCSV()">Baixar tabela como CSV</button>
        <button onclick="downloadTXT()">Baixar tabela como Texto</button>
    {% else %}
        <p>Não foram encontradas tags no código HTML inserido.</p>
    {% endif %}

    <script>
        function downloadCSV() {
            let csvContent = "Tag,Quantidade\n";
            {% for nome_tag, quantidade in contador_de_tags.items() %}
                csvContent += "{{ nome_tag }},{{ quantidade }}\n";
            {% endfor %}
            downloadFile("contador_tags.csv", csvContent);
        }

        function downloadTXT() {
            let txtContent = "";
            {% for nome_tag, quantidade in contador_de_tags.items() %}
                txtContent += "{{ nome_tag }}: {{ quantidade }}\n";
            {% endfor %}
            downloadFile("contador_tags.txt", txtContent);
        }

        function downloadFile(nome_arquivo, conteudo) {
            let element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(conteudo));
            element.setAttribute('download', nome_arquivo);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }
    </script>
</body>
</html>
